<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title> Productos | Coder Backend</title>
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<body>
  <nav class="navigation">
    <ul>
      <li><a href="/home">Volver al inicio</a></li>
      <li><a href="/cart">Ir al carrito</a></li>
    </ul>
  </nav>

  <main>
    {{{body}}}
  </main>
</body>
</html>
