<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title> Productos | Coder Backend</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/home">Productos Estáticos</a></li>
      <li><a href="/realtimeproducts">Productos en Tiempo Real</a></li>
    </ul>
  </nav>

  <main>
    {{{body}}}
  </main>
</body>
</html>
